[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "changepoint"]
	path = changepoint
	url = https://github.com/rkillick/changepoint
[submodule "changepoint.influence"]
	path = changepoint.influence
	url = https://github.com/rkillick/changepoint.influence
[submodule "EnvCpt"]
	path = EnvCpt
	url = https://github.com/rkillick/envcpt
